.dashboard{
  position:fixed;
  background: #06283D;
  left:90px;
  padding: 10px;
  color: white;
  display: none;
}

.Dash:hover .dashboard{
  display: block;
}

.user{
  position:fixed;
  background: #06283D;
  left:90px;
  padding: 10px;
  color: white;
  display: none;
}

.Usr:hover .user{
  display: block;

}

.addnews{
  position:fixed;
  background: #06283D;
  left:90px;
  padding: 10px;
  color: white;
  display: none;
}

.News:hover .addnews{
  display: block;
}